<%- include('../partials/header') %> 

<div id="user-page">
    <div id="profile-container">
        <div>
            <%= user.name %>
        </div>
        <img src="<%= user.avatar%>" alt="">
        <br>
        <div>
            <%= user.email%>
        </div>


    <%if(user.bio){%>
        <div id="hide-bio">
            <br>
            <p style="text-decoration: underline;">Bio</p>
            <%= user.bio%>
            <br>
            <button id="user-update" type="submit">Update</button>
            
        </div>
        <%}else{%>
            <form action="/users/<%= user.id%>?_method=PUT" method="POST">
                <textarea name="bio" id="" cols="15" rows="2">Add a bio..</textarea>
                <input type="submit" value="submit">
            </form>
        <%}%>
    </div> 

    <div id="update-bio">

        <form action="/users/<%= user.id%>?_method=PUT" method="POST">
            <textarea name="bio" id="" cols="15" rows="2">Add a bio..</textarea>
            <input type="submit" value="submit">
        </form>

    </div>


  <%if(recipes.length){%>

    <div id="user-box">
        <div id="user-recipe-title">
            <p>Your Recipes</p>
        </div>

        <% recipes.forEach(function(r){ %>
            <a href="/recipes/<%= r._id%>">
                <div id="user-recipe-card">
                    <div id="card-name">
                        <p><%=r.name%></p>
                    </div>
                    <form action="/recipes/<%= r.id%>?_method=DELETE" method="POST">
                        <label for="">
                            <button type="submit">Delete</button> 
                        </label>    
                    </form>

                </div> 
         </a>
        <%})%>
    </div> 

</div>
<%}else{%>
    <h4>Lets get brewing</h4>
    <%}%>
<%- include('../partials/footer') %>