<%- include('../partials/header') %> 

<div id="recipe-index-container">
    <div id="index-header">
        <h1>Search Recipes</h1>
    </div>
    <form class="">
        <input class="" type="search" placeholder="Search" aria-label="Search">
        <button  type="submit">Search</button>
      </form>
    <div id="recipe-container">
        <% recipes.forEach(function(r){ %>
        <div id="recipe-card">
            <div id="card-name">
                <p><%=r.name%></p>
            </div>
            <div id="card-type">
                <p><%=r.type%></p>
            </div>
            <div id="card-style">
                <p><%=r.style%></p>
            </div>
            <div id="card-link">
                <a href="/recipes/<%= r._id%>">Check it Out</a> 
            </div>
        </div>
      
        <%})%>
    </div>
</div>
<%- include('../partials/footer') %>