<%- include('../partials/header') %> 

<div id="recipe-index-container">
    <div id="index-header">
        <h1>Search Recipes</h1>
    </div>
    <form action="/recipes/">
        <input id="search-bar" name="name" type="search" placeholder="Search" value="<%= name%>" aria-label="Search" autocomplete="off">
        <button type="submit">Search</button>   
      </form>
        <div id="recipe-container">
            <% recipes.forEach(function(r){ %>
                <a href="/recipes/<%= r._id%>">
            <div id="recipe-card">
                <div id="card-name">
                    <p><%=r.name%></p>
                </div>
                <div id="card-type">
                    <p><%=r.type%></p>
                </div>
                <div id="card-style">
                    <p><%=r.style%></p>
                </div>
                <div id="card-link">
                
                </div>
            </div>
        </a> 
            <%})%>
        </div>
</div>
<%- include('../partials/footer') %>