<%- include('../partials/header') %> 
<div id="create-form">
    <form action="/recipes/" method="POST">
        <label>Beer Name:
            <input type="text" name="name" required autocomplete="off">
        </label><br>
        <label>Type:
            <select name="type"  required>
            <option value="Lager">Lager</option>
            <option value="Ale">Ale</option>
            </select>
        </label><br>
        <label>Style:
            <select name="style" required>
            <optgroup label="Ales">
                <%ales.forEach( a =>{%>
                    <option value="<%=a%>"><%=a%></option>
                <%})%>
            </optgroup>
            <optgroup label="Lagers">
                <%lagers.forEach( l =>{%>
                    <option value="<%=l%>"><%=l%></option>
                    <%})%>
            </optgroup>
            <optgroup label="Hybrids">
                <%hybrids.forEach( h =>{%>
                    <option value="<%=h%>"><%=h%></option>
                    <%})%>
            </optgroup>
        </select>
        </label><br>
        <label>Grains:
            <select name="grainBill" multiple required>
                <% grains.forEach( g =>{%>
                <option value="<%=g%>"><%=g%></option>
                <%})%>
            </select>
        </label>
        <label>QTY: 
            <input name="grainQty" type="number" step=".01" min=".01" required autocomplete="off">
        </label><br>
        
        <label>Hops:
            <select name="hopBill" multiple required>
            <%hops.forEach( h =>{%>
            <option value="<%=h%>"><%=h%></option>
            <%})%>
        </select>
        </label>
        <label>QTY: 
            <input name="hopQty"type="number" autocomplete="off"step=".01" min=".01" required>
        </label>
        <br>
        <label>Adjuncts:
            <input type="text" autocomplete="off" name="adjuncts">
        </label><br>
        <label>Boil Temp:
            <input type="text" autocomplete="off" name="boilTemp" min="1" required>degrees
        </label><br>
        <label>Boil Time:
            <input type="text" name="boilTime" autocomplete="off" min="1" required>minutes
        </label><br>
        <label>Fermentation Time:
            <input type="text" name="fermTime" autocomplete="off" min="1" required>weeks
        </label><br>
        <label>Batch Size:
            <input type="text" name="batchSize" autocomplete="off" min="1" required>Gallons
        </label><br>
        <input type="hidden" name="user" value="<%=user.id%>">
        <input type="submit" value="Submit">
    </form>

    <div id="instructions">
        <p style="font-size: 8vmin;">Build-A-Beer</p>
        <p>!!  use ctrl-click to select multiple grains/hops and use commas to seperate your different adjuncts !!</p>
    </div>

</div>
<%- include('../partials/footer') %>