<%- include('../partials/header') %> 

<div id="show-grid">
    <div id="show-recipe">
        <p>Beer Name: <%= recipe.name%></p>
        <p>Type: <%= recipe.type%></p>
        <p>Style: <%= recipe.style%></p>
        <p>Grain Used: <%= recipe.grainBill%>, <%= recipe.grainQty%>lbs</p>
        <p>Hops Used: <%= recipe.hopBill%>, <%= recipe.hopQty%>lb/lbs</p>
        <p>Adjuncts Used: <%= recipe.adjuncts%></p>
        <p>Fermentation Time: <%= recipe.fermTime%> Weeks</p>
        <p>Boil Time: <%= recipe.boilTime%> minutes</p>
        <p>Boil Temp: <%= recipe.boilTemp%> degrees</p>
        <br>
        <br>
    </div>
</div>

    <form action="/recipes/<%= recipe._id%>/comments" method="POST">
        <label>Comment: 
        <textarea name="comment" cols="30" rows="10">Write a Comment... but be nice....</textarea>
        </label>
        <label for="">Rate this Homebrew
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="submit" value="Comment">
        </label>
    </form>

        <% if(recipe.comments.length) {%>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Comment</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
            <% let total = 0%>
            <% recipe.comments.forEach( c => {%>
                <% total += c.rating%>
                <tr>
                    <td><%=c.createdAt.toLocaleDateString() %></td>
                    <td><%=c.comment%></td>
                    <td><%=c.rating%></td>
                </tr>
            <%})%>
            <tr>
                <td></td>
                <td><strong><%= (total / recipe.comments.length).toFixed(1)%></strong></td>
            </tr>
                </tbody>
            </table>
        <%}else {%>
            <h5>Be the first to comment!</h5>
        <% }%>
    </div>





    <% if( user.id === recipe.user.toString()){%>
    <form action="/recipes/<%= recipe.id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <%}%>
<%- include('../partials/footer') %>